<h2
   class="text-xl sm:text-2xl
         text-border-strong dark:text-[#B0B0B0] text-center"
   style="content-visibility: visible;"
>
   <span class="font-[550] text-bg-base dark:text-[#d7d7d7]">
      Estudiante de Ingeniería Informática y Desarrollador Frontend</span
   >, especializado en el ecosistema de React con foco en TypeScript. Construyo interfaces mantenibles, optimizadas y orientadas a producto, con
   atención al rendimiento y la experiencia de usuario.
</h2>
