<h2
   class="text-xl lg:text-2xl
    text-border-strong dark:text-[#B0B0B0]
    max-w-2xl md:max-w-2xl"
>
   <strong class="text-bg-base dark:text-[#d7d7d7] font-medium">
      Estudiante de Ingeniería Informática y Frontend Developer,
   </strong> especializado en el ecosistema de React con foco en TypeScript. Centrado
   en la optimización de aplicaciones web y la resolución creativa de problemas.
</h2>
