---
import ProfilePhoto from "./ProfilePhoto.astro";
import PrincipalTitle from "../../shared/PrincipalTitle.astro";
import HeroHeader from "./HeroHeader.astro";
import HeroDescription from "./HeroDescription.astro";
import HeroNav from "./HeroNav.astro";
---

<div class="w-full flex flex-row items-center justify-content gap-6">
   <ProfilePhoto
      class="w-52 h-52 hidden md:block"
      width={256}
      height={256}
      sizes="256px"
   />
   
   <div class="w-full flex flex-col md:gap-9 gap-6">
      <HeroHeader />

      <PrincipalTitle />

      <HeroDescription />

      <HeroNav />
   </div>
</div>
