<h2
   class="text-xl lg:text-2xl
         text-border-strong dark:text-[#B0B0B0] text-center"
   style="content-visibility: visible;"
>
   <span class="font-[550] text-bg-base dark:text-[#d7d7d7]">
      Estudiante de Ingeniería Informática y Desarrollador Frontend</span>, especializado en el ecosistema de React con foco en TypeScript. Centrado en la
   optimización de aplicaciones web y la resolución creativa de problemas.
</h2>
