---
import ProfilePhoto from "./ProfilePhoto.astro";
import Badge from "./Badge.astro";
---

<header class="flex items-center flex-row flex-wrap md:gap-4 gap-2">
   <ProfilePhoto
      class="sm:size-13 size-8 order-first"
      width={32}
      height={32}
      sizes="32px"
   />

   <a
      class="inline-flex w-fit"
      href="https://www.linkedin.com/in/santiagogoncalvez"
      target="_blank"
      rel="noopener noreferrer"
   >
      <Badge><strong>Disponible para trabajar</strong> </Badge>
   </a>

   <span class="text-bg-surface dark:text-text md:text-sm text-xs">
      <span class="sm:inline hidden">Stack: </span>
      React <span class="text-text-muted">·</span> TypeScript</span
   >
</header>
