<h2
   class="text-xl lg:text-2xl leading-[1.35]
         text-border-strong dark:text-[#B0B0B0]
         max-w-xl"
>
   <span class="font-medium text-bg-base dark:text-[#d7d7d7] block">
      Estudiante de Ingeniería Informática y Desarrollador Frontend,
   </span>
   especializado en el ecosistema de React con foco en TypeScript. Centrado en la
   optimización de aplicaciones web y la resolución creativa de problemas.
</h2>
