<section
   class="section-motion w-full mx-auto lg:w-[900px] flex flex-col gap-8 opacity-0 translate-y-6"
   {...Astro.props}
>
   <slot />
</section>

<script>
   import { animate, inView } from "motion";

   document.addEventListener("DOMContentLoaded", () => {
      const sections = document.querySelectorAll(".section-motion");

      sections.forEach((section) => {
         inView(
            section,
            () => {
               animate(
                  section,
                  { opacity: [0, 1], y: [25, 0] },
                  { duration: 0.3, easing: "ease-out" }
               );
            },
            { margin: "-80px" }
         );
      });
   });
</script>
