---
const { animateOnScroll = true, disableOnMobile = false } = Astro.props;
---

<section
   class:list={[
      "section-motion w-full mx-auto lg:w-[900px] flex flex-col gap-8",
      animateOnScroll && "opacity-0 translate-y-6",
      "no-mobile-motion",
   ]}
   data-animate={animateOnScroll}
   data-disable-mobile={disableOnMobile}
>
   <slot />
</section>
