---
import Layout from "../layouts/Layout.astro";
import KeyboardManager from "../components/shared//KeyboardManager.astro";

import SectionContainer from "../components/shared/SectionContainer.astro";
import Projects from "../components/sections/Projects/Projects.astro";
import AboutMe from "../components/sections/AboutMe.astro";

import Formation from "../components/sections/Formation.astro";
import Hero from "../components/sections/Hero/Hero.astro";
---

<Layout
   title="Porfolio de Santiago Goncalvez - Desarrollador y Programador Web"
   description="Contrata a Santiago Goncalvez para crear tu aplicación web o móvil. Desarrollador Web, estudiante de Ingeniería Informática y Programador. Especializado en crear aplicaciones únicas."
>
   <main class="w-full py-10 md:py-15 px-5 flex flex-col gap-35">
      <SectionContainer>
         <Hero />
      </SectionContainer>

      {
         
            // Agregar cuando tenga experiencia
            /* 
         <SectionContainer  id="experiencia">
            <Subtitle class="flex flex-row items-center gap-x-4">
               <BriefCaseIcon class="size-8" />
               <span>Experiencia laboral</span>
            </Subtitle>
            <Experience />
         </SectionContainer>
         */
      }

      <SectionContainer id="proyectos">
         <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
         <AboutMe />
      </SectionContainer>

      <SectionContainer id="formacion">
         <Formation />
      </SectionContainer>
   </main>

   <KeyboardManager />
</Layout>
