---
import Layout from "../layouts/Layout.astro";
import ProfileCheckIcon from "../icons/ProfileCheck.astro";
// import BriefCaseIcon from "../icons/BriefCase.astro";

import SectionContainer from "../components/SectionContainer.astro";
// import Experience from "../components/Experience.astro";
import Subtitle from "../components/Subtitle.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";

import Formation from "../components/Formation.astro";
import BookIcon from "../icons/Book.astro";
import Hero from "../components/Hero.astro";
---

<Layout
   title="Porfolio de Santiago Goncalvez - Desarrollador y Programador Web"
   description="Contrata a Santiago Goncalvez para crear tu aplicación web o móvil. Desarrollador Web, estudiante de Ingeniería Informática y Programador. Especializado en crear aplicaciones únicas."
>
   <main class="w-full py-10 lg:py-18 px-5 flex flex-col gap-35">
      <SectionContainer>
         <Hero/>
      </SectionContainer>

      <!-- Agregar cuando tenta experiencia -->
      <!-- <SectionContainer  id="experiencia">
         <Subtitle class="flex flex-row items-center gap-x-4">
            <BriefCaseIcon class="size-8" />
            <span>Experiencia laboral</span>
         </Subtitle>

         <Experience />
      </SectionContainer> -->

      <SectionContainer id="proyectos">
         <Subtitle class="flex flex-row items-center gap-x-4">
            <Code class="size-8" />
            <span>Proyectos</span>
         </Subtitle>

         <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
         <Subtitle class="flex flex-row items-center gap-x-4">
            <ProfileCheckIcon class="size-8" />
            <span>Sobre mí</span>
         </Subtitle>

         <AboutMe />
      </SectionContainer>

      <SectionContainer id="formacion">
         <Subtitle class="flex flex-row items-center gap-x-4">
            <BookIcon class="size-8" />
            <span>Formación</span>
         </Subtitle>

         <Formation />
      </SectionContainer>
   </main>
</Layout>
