---
import Layout from "../layouts/Layout.astro";
import KeyboardManager from "../components/shared//KeyboardManager.astro";

import SectionContainer from "../components/shared/SectionContainer.astro";
import Projects from "../components/sections/Projects/Projects.astro";
import AboutMe from "../components/sections/AboutMe.astro";

import Formation from "../components/sections/Formation.astro";
import Hero from "../components/sections/Hero/Hero.astro";
---

<Layout
   title="Santiago Goncalvez - Desarrollador Frontend React & TypeScript"
   description="Desarrollador Frontend enfocado en React y TypeScript. Construyo interfaces rápidas, escalables y con foco en rendimiento y experiencia de usuario."
>
   <main class="w-full py-18 sm:py-24 md:py-28 px-5 flex flex-col sm:gap-24 gap-16">
      <SectionContainer>
         <Hero />
      </SectionContainer>

      <SectionContainer id="proyectos" class="no-mobile-motion">
         <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi" class="no-mobile-motion">
         <AboutMe />
      </SectionContainer>

      <SectionContainer id="formacion" class="no-mobile-motion">
         <Formation />
      </SectionContainer>
   </main>

   <KeyboardManager/>
</Layout>
