---
const currentYear = new Date().getFullYear();
---

<footer class="opacity-80 mt-16 mb-10 min-w-full flex justify-center px-5">
   <div
      class="w-full mx-auto lg:w-[900px] flex items-center lg:justify-between justify-center gap-y-4 flex-wrap py-4 rounded-lg"
   >
      <span class="text-sm text-center text-zinc-800/90 dark:text-zinc-200/90"
         >&copy; {currentYear}
         <a
            href="http://www.linkedin.com/in/santiagogoncalvez"
            class="hover:underline">Santiago Goncalvez</a
         >. Derechos reservados.
      </span>
      <ul
         class="flex flex-wrap items-center justify-center mt-3 text-sm font-medium text-bg-elevated dark:text-white/90 sm:mt-0"
      >
         <li>
            <a href="/#top" class="hover:underline me-4 md:me-6">Inicio</a>
         </li>
         <li>
            <a href="/#proyectos" class="hover:underline me-4 md:me-6"
               >Proyectos</a
            >
         </li>
         <li>
            <a href="/#sobre-mi" class="hover:underline me-4 md:me-6"
               >Sobre mí</a
            >
         </li>
         <li>
            <a href="/#formacion" class="hover:underline me-4 md:me-6"
               >Formación</a
            >
         </li>
         <li>
            <a
               id="contacto"
               href="mailto:santiago.goncalvez.l@gmail.com"
               class="hover:underline">Contacto</a
            >
         </li>
      </ul>
   </div>
</footer>
