---
import ProfilePhoto from "../components/ProfilePhoto.astro";
import PrincipalTitle from "../components/PrincipalTitle.astro";
import HeroHeader from "../components/HeroHeader.astro";
import HeroDescription from "../components/HeroDescription.astro";
import HeroNav from "../components/HeroNav.astro";
---

<div class="w-full flex flex-row items-center justify-content gap-8">
   <div class="w-full flex flex-col gap-8 order-2 md:order-1">
      <HeroHeader />

      <PrincipalTitle />

      <HeroDescription />

      <HeroNav />
   </div>

   <ProfilePhoto class="size-15 md:size-50 lg:size-70 md:flex hidden" />
</div>

