---
const { href } = Astro.props;
---

<a
   target="_blank"
   href={href}
   role="link"
   class="inline-flex bg-title-secondary text-bg-elevated border-text-muted items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-bg-base border dark:border-text/50 text-md hover:bg-border-subtle dark:hover:border-text-highlighted group max-w-fit rounded-xl dark:hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
   <slot />
</a>
