<a
   class={`rounded-full border border-transparent flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base  dark:bg-transparent hover:scale-104 hover:bg-title hover:border-title transition ${Astro.props.class}`}
   target="_blank"
   rel="noopener noreferrer"
   {...Astro.props}
>
   <slot />
</a>
