<a
   class={`rounded-full border border-transparent flex items-center gap-x-2
    py-1 px-2 md:py-2 md:px-4 text-xs md:text-base
    dark:bg-transparent
    transition-colors duration-200 
    hover:border-border-strong/50 text-border-strong
     dark:text-text dark:hover:border-text-highlighted/50
    ${Astro.props.class}`}
   target="_blank"
   rel="noopener noreferrer"
   {...Astro.props}
>
   <slot />
</a>
