<a
   class={`rounded-full border border-transparent flex items-center gap-x-2
    py-1 px-2 md:py-2 md:px-4 text-xs md:text-base
    dark:bg-transparent
    transition-colors duration-200
    hover:bg-title hover:border-title
    ${Astro.props.class}`}
   target="_blank"
   rel="noopener noreferrer"
   {...Astro.props}
>
   <slot />
</a>
