---
const { href } = Astro.props;
---

<a
   target="_blank"
   aria-label={Astro.props.ariaLabel}
   href={href}
   role="link"
   class={"inline-flex bg-transparent text-bg-elevated border border-text-highlighted hover:border-border-strong items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-transparent dark:border-text/50 text-md dark:hover:border-text group max-w-fit rounded-xl focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2"}
   
>
   <slot />
</a>
